@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}


h1{
    font-family: 'Poppins', sans-serif;
}

.doc-nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#doc-header-first {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.doc-nav-item img {
    width: 17%;
}

.doc-nav-content {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.doc-header-sec a {
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #06212699;
    transition: 0.3s ease-in-out;
}

.nav-a {
    display: none;
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
}


/*Pop Up CSS */
#popup {
    display: none;
    height: 100vh;
    width: 456px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 10px;
    z-index: 1;
}

#header-first {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-a2 {
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 6px;
    margin: 8px;
    border-radius: 50%;
}

.menu a {
    text-decoration: none;
    display: flex;
    line-height: 40px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc-nav-btn {
    color: white;
    padding: 17px;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 800;
    width: 184px;
}

.doc-header-sec a:hover {
    color: #E5661E;
}

.doc-img {
    width: 100%;
}


.section {
    width: 100%;
    margin-top: 2%;
}

.carousel {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.para p {
    color: #062126B2;
    line-height: 160%;
    font-size: 16px;
    margin-bottom: 6%;
}

.section-1 {
    width: 60%;
    margin: 0 auto;
}

#photo101 {
    display: none;
}

.section-1-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-1 img {
    height: 216px;
}

.section-1 p {
    font-size: 15px;
    color: #062126B2;
    width: 400px;
    font-weight: 400;
    line-height: 21px
}

.section-1 h1 {
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.section-1 h4 {
    width: 269px;
    font-size: 21px;
    font-weight: 600;
    color: #062126;
}

.main-btn2 {
    font-size: larger;
    font-weight: bolder;
    color: #CF7D4E;
    height: 43px;
    width: 206px;
    border: 2px solid #CF7D4E;
    background-color: transparent;
    border-radius: 100px;
    cursor: pointer;
}

.Section-2 h1 {
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-btn2 {
    font-size: larger;
    font-weight: bolder;
    color: #CF7D4E;
    height: 43px;
    width: 206px;
    border: 2px solid #CF7D4E;
    background-color: transparent;
    border-radius: 100px;
    cursor: pointer;
}

.section2-info {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 14px;
}

.doc-list-item {
    width: 270px;
    padding: 23px;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.doc-list-item p {
    line-height: 10px;
    color: #06212699;
}

.doc-list-item h2 {
    line-height: 10px;
}


.doc2 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 30px 76px 0px #AA470F42;
}

.doc-pic {
    align-items: start;
}

.feedback1 {
    display: none;
    background-color: #062126;
    color: white;
    padding: 1%;
    text-align: center;
}

.feedback-h1 {
    margin-bottom: -40px;
    font-size: 60px;
}

.feedback-p {
    margin-top: 10%;
    font-size: 25px;
    color: #12CCF4;
}

.feedback {
    text-align: center;
    background-color: #062126;
    padding: 10px;
    color: white;
}

.feedback {
    background-color: #062126;
    color: white;
    text-align: center;
}

.main-page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-p-head-btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 1000;
    color: #24BEE0;
    cursor: pointer;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-page-content2 {
    display: flex;
    align-items: center;
    background-color: #CF7D4E0D;
    gap: 16px;
    padding: 20px;
    border-radius: 20px;
    width: 405px;
}

.main-page-content3{
    display: none;
}


/* .main-page-content2 div {
    width: 300px;
} */

.main-page-content2 p {
    /* width: 300px; */
    color: #062126B2;
}

.contact-us h1 {
    color: #062126;
    font-size: 40px;
    font-weight: 700;
}

#whyus {
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}
.contact-us {
    background-color: #FFFFFF;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-div {
    display: flex;
}

.doc-p-input {
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-us input {
    width: 300px;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid #0000000d;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #F7F7F7;
}
.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    height: 49px;
    border-radius: 35px;
}

#description {
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
    background-color: #F7F7F7;
}

input textarea:focus {
    border: rgba(137, 243, 251, 0.178);
}

footer {
    display: flex;
    justify-content: space-evenly;
}


.footer-1c {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
}

#footer-1c-img {
    width: 32px;
}

.footer-2c {
    display: flex;
}

.foot-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px;
    margin: 10px;
    background-color: #0621261A;
    border-radius: 50%;
}

.main-page-p {
    color: #062126B2;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}



.Mfooter-2content list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Mfooter-2content p,
a {
    color: #06212699;
    font-weight: 500;
    font-size: 16px;
}

.Mfooter-3content {
    display: flex;
    flex-direction: column;
}

.Mfooter-1content {
    width: 215px;
}

#email {
    background-color: #12CCF41A;
    padding: 15px;
    width: 250px;
    border-radius: 30px;
    margin: -10px;
    border: none;
}

#main-last-btn {
    color: white;
    background-color: #58e0ff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin-left: -22%;
    z-index: 1;
}

.box {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.doc-details-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 193px;
}

#doc-1 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgb(228, 246, 252);
}

.footer-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-last-doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



@media (max-width: 1200px) {
    .carousel {
        width: 60%;
    }

    .Section-2 {
        width: 100%;
    }

    .feedback img {
        width: 100%;
    }

    .section-1 {
        width: auto;
        margin: 0 auto;
    }

    .doc-nav-item {
        width: 100%;
    }
    .section2-info {
        width: auto;
    }
}


@media (max-width: 500px) {

    /* Nav Bar */
    .doc-nav-content {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .doc-nav-item img {
        width: 49%;
    }

    .doc-nav-btn {
        display: none;
    }

    #popup {
        width: 100%;
        height: 100vh;
        margin: 7px;
    }

    .nav-a {
        display: inline-block;
    }

    #doc-header-first {
        gap: 0;
    }

    #doc-header-first img {
        width: 35px;
    }

    .doc-header-sec a {
        display: none;
    }

    .doc-list-item {
        gap: 14px;
    }

    .doc-img {
        height: 100px;
    }

    .doc-list {
        text-align: center;
    }

    .doc-info {
        max-width: 90%;
        margin: auto;
    }

    .contact-us h1 {
        font-size: 25px;
    }

    .section-1 {
        width: 300px;
        margin: 0 auto;
    }

    .carousel {
        padding: 0px 35px;
    }

    /* Feedback */
    .feedback1 {
        display: block;
        width: 100%;
    }

    .feedback {
        display: none;
    }

    .main-page-content2 {
        display: none;
    }
    .main-page-content3 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #CF7D4E0D;
        margin: 20px;
        gap: 16px;
        border-radius: 10px;
    }
    

    /* Form */
    .input-div {
        width: min-content;
        display: block;
    }

    .contact-us form {
        width: auto;
    }

    .contact-us input {
        width: 256px;
    }

    /* Footer */
    footer {
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        padding: 0;
    }

    .footer-1c {
        position: relative;
    }

    .Mfooter-2content {
        position: relative;
    }

    .Mfooter-2content list {
        font-size: 26px;
    }

    .Mfooter-3content {
        width: 80%;
    }

    .Mfooter-3content list {
        font-size: 17px;
    }

    #email {
        position: relative;
    }

    .footer-last {
        flex-direction: column;
        color: #0621264D;
        position: relative;
        justify-content: start;
        align-items: start;
    }

    .footer-last-doc {
        flex-direction: column;
        gap: 0px;
        position: relative;
        justify-content: center;
        align-items: start;
    }

    footer {
        margin: 10px;
    }

    .footer-last {
        margin: 16px;
    }

    .Mfooter-1content {
        width: 225px;
    }

    .main-last {
        display: block;
    }

    .last-doc {
        display: block;
    }

    /* Content */
    .carousel {
        display: block;
    }

    .carousel img {
        position: relative;
        top: 84px;
        left: -14%;
    }


    .section-1 h1 {
        font-size: 27px;
        text-align: center;
    }

    .section-1-info {
        display: block;
    }
    #photo102 {
        display: none;
    }

    .section-1 p {
        width: 286px;
    }

    .section2 {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .section2 h1 {
        font-size: 28px;
    }

    .section2-info {
        flex-direction: column;
    }

    .testimonial {
        display: block;
    }

    .main-page-header {
        justify-content: space-between;
    }

    .doc-nav-item {
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    #email{
        width: 207px;
    }
}
