@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.doc-nav-content {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.doc-nav-item {
    display: flex;
    gap: 60px;
    align-items: center;
}

#doc-header-first {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nav-a {
    display: none;
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc-header-sec a {
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #06212699;
    transition: 0.3s ease-in-out;
}

.doc-header-sec a:hover {
    color: #E5661E;
}


.doc-nav-btn {
    padding: 0;
    margin: 0;
}

.doc-nav-btn {
    color: white;
    padding: 10px;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 800;
}


.doc-img {
    margin: 0;
    padding: 0;
}

.doc-img img {
    width: 100%;
}
.section {
    max-width: 95%;
    padding: 0;
    margin: 75px auto;
}
.contact-us h1{
    color: #062126;
    font-size: 40px;
    font-weight: 700;
}
#whyus{
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}
.contact-us {
    background-color: #FFFFFF;
    margin: 80px auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-us form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 638px;
}

.input-div {
    display: flex;
    gap: 20px;
    height: 3%;
}

.doc-p-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.contact-us input {
    padding: 20px;
    border: 1px solid #0000000d;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    transition: border-color 0.3s ease;
}

.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    height: 49px;
    border-radius: 35px;
}

#description{
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
}

input textarea:focus {
    border: rgba(137, 243, 251, 0.178);
}
footer {
    display: flex;
    justify-content: center;
    gap: 5%;
    text-align: start;
}


.footer-1c {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#footer-1c-img {
    width: 32px;
}

.footer-2c {
    display: flex;
    justify-content: space-evenly;
}

.foot-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px;
    margin: 10px;
    background-color: #0621261A;
    border-radius: 50%;
}

.main-page-p {
    color: #062126B2;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}


.Mfooter-2content list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Mfooter-2content p,
a {
    color: #06212699;
    font-weight: 500;
    font-size: 16px;
}

.Mfooter-1content{
    width: 215px;
}


#email {
    background-color: #12CCF41A;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin: -10px;
}

#main-last-btn {
    color: white;
    background-color: #58e0ff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin-left: -22%;
    z-index: 1;
}

.box {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.doc-details-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 193px;
}

#doc-1 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgb(228, 246, 252);
}

.footer-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0621264D;
}

.footer-last-doc {
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 1200px){
    .doc-nav-content {
        max-width: 100%;
    }
    .doc-nav-item{
        gap: 10px;
    }
    footer{
        justify-content: center;
        gap: 7%;
    }
}


@media (max-width: 500px){
    /* Nav Bar */
    .doc-nav-content{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .doc-nav-btn{
        display: none;
    }
    .nav-a {
        display: block;
    }
    #doc-header-first{
        gap: 0;
    }
    #doc-header-first img{
        width: 35px;
    }
    .doc-header-sec a{
        display: none;
    }
    .doc-list-item{
        display: block;
    }
    .doc-img img {
        height: 100px;
    }

    .doc-list{
        text-align: center;
    }
    .doc-info{
        max-width: 90%;
        margin: auto;
    }
    .contact-us h1{
        font-size: 25px;
    }

    .carousel{
        padding: 0px 12px;
    }
    /* Form */
    .input-div{
        display: block;
    }
    .contact-us form{
        width: auto;
    }
    .contact-us input{
        width: 256px;
    }
    /* Footer */
    footer {
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        padding: 0;
    }

    .footer-1c {
        position: relative;
    }
    .Mfooter-2content {
        position: relative;
    }

    .Mfooter-2content list {
        font-size: 26px;
    }

    .Mfooter-3content {
        width: 80%;
    }

    .Mfooter-3content list {
        font-size: 17px;
    }

    #email {
        position: relative;
    }

    .footer-last {
        flex-direction: column;
        color: #0621264D;
        position: relative;
        justify-content: start;
        align-items: start;
    }

    .footer-last-doc {
        flex-direction: column;
        gap: 0px;
        position: relative;
        justify-content: center;
        align-items: start;
    }
    footer{
        margin: 0px;
    }
    .footer-last{
        margin: 16px ;
     }
     .Mfooter-1content{
        width: 225px;
     }
     .main-last{
        display: block;
     }
     .last-doc{
        display: block;
     }
}
