@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

h1{
    font-family: 'Poppins', sans-serif;
}
.carousel {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.doc-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.doc-nav-item {
    display: flex;
    gap: 60px;
    align-items: center;
}

#doc-header-first {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-a {
    display: none;
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
}
/*Pop Up CSS */
#popup {
    display: none;
    height: 100vh;
    width: 456px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 10px;
    z-index: 1;
}

#header-first {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu2{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-a2{
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 6px;
    margin: 8px;
    border-radius: 50%;
}

.menu a {
    text-decoration: none;
    display: flex;
    line-height: 40px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc-header-sec a {
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #06212699;
    transition: 0.3s ease-in-out;
}

.doc-header-sec a:hover, 
.doc-header-sec a.active {
    color: #E5661E;
}

.doc-nav-btn {
    padding: 0;
    margin: 0;
}

.doc-nav-btn {
    color: white;
    height: 60px;
    width: 200px;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
}

.doc-nav-btn p {
    font-weight: 800;
}

.doc-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 10px;
  
}

.doc-img1 {
    width: 25%;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: relative;
    transform: translateX(-10%);
}
.doc-img1.show {
    opacity: 1;
    transform: translateX(0);
    }

.landing-img{
    width: 100%;
}
.landing-img1{
    display: none;
}
.landing-img2{
    display: none;
}


.doc-paa {
    text-align: center;
    background-color: #E5661E0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: relative;
    transform: translateY(2%);
}


.doc-paa.show {
    opacity: 1;
    transform: translateY(0);
    }

.doc-det-h1 {
    color: #CF7D4E;
}

.doc-det-p {
    color: #062126B2;
}

.doc-info {
    max-width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: relative;
    transform: translateX(10%);
}

.doc-info.show {
    opacity: 1;
    transform: translateX(0);
    }

.doc-info p1 {
    color: #CF7D4E;
}

.doc-info p2 {
    color: #062126B2;
}

.doc-info p3 {
    color: #06212680;
    font-size: 13px;
    font-weight: 700;
}

.doc-info p4 {
    font-size: 13px;
    margin: 7px;
}

.doc-info p4 span {
    color: #24BEE0;
}



.contact-us {
    background-color: #FFFFFF;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: relative;
    transform: translateY(3%);
}
form.show{
    opacity: 1;
    transform: translateY(0);
}

.contact-us form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 638px; */
}

.input-div {
    display: flex;
    /* gap: 20px; */
    /* height: 3%; */
}

/* .date-time{
    align-items: center;
}
#time{
    position: relative;
    left: -5%;
}
#date{
    position: relative;
    left: -3%;
}*/

.doc-p-input {
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-us input {
    width: 300px;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid #0000000d;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #F7F7F7;
}

.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    height: 49px;
    border-radius: 35px;
}

#description {
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
    background-color: #F7F7F7;
}

.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    border-radius: 35px;
}

textarea {
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
}

input textarea:focus {
    border: rgba(137, 243, 251, 0.178);
}

.footer{
    background-color: #90e8fc12;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.footer-1c {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#footer-1c-img {
    width: 32px;
}

.footer-2c {
    display: flex;
    justify-content: start;
}

.foot-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px;
    margin: 10px;
    background-color: #0621261A;
    border-radius: 50%;
}
.main-page-p {
    color: #062126B2;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;    
}


.Mfooter-2content p,a{
    color: #06212699;
    font-weight: 500;
    font-size: 16px;
}

.Mfooter-1content{
    width: 215px;
}

#email{
    width: 250px;
    background-color: #12CCF41A;
    padding: 15px;
    border-radius: 30px;
    margin: -10px;
    border: none;
}
#main-last-btn{
    color: white;
    background-color: #58e0ff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin-left: -22%;
    z-index: 1;
}
.main-last{
    display: flex;
    justify-content: space-between;
    color: #06212666;
    font-size: 14px;
    margin: 5px;
}
.last-doc{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
}

@media (max-width: 1200px){
    .carousel{
        max-width: 100%;
    }
    .doc-nav-item{
        gap: 5px;
    }
    .doc-img1 {
        width: 35%;
    }
    .landing-img1{
        display: block;
        width: 100%;
    }
    .landing-img{
        display: none;
    }
}

@media (max-width: 1000px){
    .carousel{
        max-width: 100%;
    }
    .doc-nav-item{
        gap: 5px;
    }
    .doc-img1 {
        width: 41%;
    }
    .landing-img1{
        display: none;
        width: 100%;
    }
    .landing-img2{
        display: block;
        width: 100%;
    }
    .landing-img{
        display: none;
    }
}
@media (max-width: 760px){
    .carousel{
        max-width: 100%;
    }
    .doc-nav-item{
        gap: 0px;
    }
    .doc-header-sec a {
        padding: 2px;
    }
    .doc-img1 {
        width: 41%;
    }
    .landing-img1{
        display: none;
        width: 100%;
    }
    .landing-img2{
        display: block;
        width: 100%;
    }
    .landing-img{
        display: none;
    }
    #popup {
        width: 100%;
        height: 100vh;
        margin: 7px;    
    }
}

@media (max-width: 500px){
    /* Nav Bar */
    .doc-nav-content{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .doc-nav-btn{
        display: none;
    }
    .nav-a {
        display: block;
    }
    #doc-header-first{
        gap: 0;
    }
    #doc-header-first img{
        width: 35px;
    }
    .doc-header-sec a{
        display: none;
    }
    .doc-list-item{
        display: block;
    }
    .doc-img1 {
        width: 280px;
    }

    .doc-list{
        text-align: center;
    }
    .doc-info{
        max-width: 90%;
        margin: auto;
    }

    .carousel{
        padding: 0px 12px;
    }
    /* Form */
    .input-div{
        width: min-content;
        display: block;
    }
    .contact-us form{
        width: auto;
    }
    .contact-us input{
        width: 256px;
    }
    #description{
        width: 256px;
    }
    /* Footer */
    footer {
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        padding: 0;
    }

    .footer-1c {
        position: relative;
    }

    .Mfooter-2content {
        position: relative;
    }

    .Mfooter-2content list {
        font-size: 26px;
    }

    .Mfooter-3content {
        width: 80%;
    }

    .Mfooter-3content list {
        font-size: 17px;
    }

    #email {
        position: relative;
    }

    .footer-last {
        flex-direction: column;
        color: #0621264D;
        position: relative;
        justify-content: start;
        align-items: start;
    }

    .footer-last-doc {
        flex-direction: column;
        gap: 0px;
        position: relative;
        justify-content: center;
        align-items: start;
    }
    footer{
        margin: 0px;
    }
    .footer-last{
        margin: 16px ;
     }
     .Mfooter-1content{
        width: 225px;
     }
     .main-last{
        display: block;
     }
     .last-doc{
        display: block;
     }
}
