@media (max-width: 1200px) {
    .main-page--photo0 {
        display: none;
    }

    .pixle {
        display: none;
    }

    .clinic h3{
        font-size: 16px;
        width: 190px;
    }

    .hospital {
        width: 100%;
    }

    .Mfooter-2content {
        margin-right: 9px;
    }

    .feedback img {
        width: 100%;
    }

    .main-page-dusradoc img {
        width: inherit;
    }

    #doc-header-first img {
        width: 114px;
    }

    .doc-nav-content {
        max-width: 100%;
    }

    .naya {
        max-width: 100%;
    }

    .index {
        gap: 2%;
    }

    #doc-header-first {
        justify-content: start;
    }

    .index-right {
        display: block;
    }

}


@media (max-width: 800px) {

    .doc-header-sec a {
        display: none;
    }

    .doc-nav-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .clinic {
        width: 500px;
    }

    .time {
        justify-content: stretch;
        gap: 100px;
    }
    .index-right img {
        display: none;
    }

    .main-page--photo0 {
        display: block;
        margin-left: 40px;
        display: block;
        width: 90%;
        text-align: center;
    }

    .index-left p {
        width: auto;
    }

    .main-page-content2 div {
        width: 200px;
    }

    .swiper-slide img {
        width: 96%;
    }
    .index-left {
        width: 655px;
        padding: 10px;
    }

    .doc-details {
        width: 780px;
    }

    .box {
        display: none;
    }

    .newdiv {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }

    .section2-info {
        display: none;
    }

    .doc-list-item {
        width: 280px;
    }

    .review-p {
        display: none;
    }

    .review-p1 {
        display: block;
    }

    .main-page-content2 p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.38px;
        width: 218px;
    }
    .Mfooter-3content p {
        width: auto;
      }

    footer {
        display: block;
        padding: 16px;
    }

    #main-last-btn {
        margin-left: -9%;
    }

    .footer-last{
        display: block;
        padding: 10px;
    }

    .footer-last-doc{
        display: block;
        padding: 10px;
    }
}


@media (max-width: 500px) {

    .main-page--photo0 {
        display: none;
    }

    .newdiv {
        display: none;
    }

    .index-left {
        width: 282px;
        margin: 16px;
    }

    .doc-nav-content {
        padding: 0;
        max-width: 100%;
    }


    .doc-header-sec a {
        display: none;
    }

    .doc-nav-btn1 {
        display: none;
    }

    #LOGO {
        width: 24%;
    }

    .nav-a {
        display: block;
    }

    .doc-nav-item {
        gap: 323px;
        justify-content: center;
    }

    .index {
        display: block;
        width: fit-content;
    }

    .index-left h1 {
        font-size: 41px;
        line-height: 55.68px;
        font-weight: 700;
    }

    .index-right img {
        display: none;
    }

    .main-page--photo1 {
        width: 290px;
        display: block;
    }

    .index-left p {
        font-weight: 400;
        line-height: 27.7px;
        font-size: 16px;
    }

    .clinic {
        width: 275px;
        display: block;
        text-align: center;
    }

    .main-page-item {
        display: flex;

    }

    .main-page-header div h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
    }

    .main-page-item h3 {
        font-size: 16px;
        font-weight: 600;
    }


    .time {
        margin-top: 10%;
        display: block;
    }

    .main-page-timing p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .main-page-header {
        padding: 5px;
    }

    .PIC22 {
        display: none;
    }

    .main-page-dusradoc {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .main-page-dusradoc img {
        width: 306px;
    }

    .naya-body p {
        font-weight: 900;
        position: relative;
        top: 0px;
        left: 46px;
    }
    .swiper-slide img {
        width: 90%;
    }

    .naya {
        max-width: 100%;
    }

    #whyus {
        font-size: 25px;
        font-weight: 900;
    }

    .box {
        display: block;
        flex-direction: column;
    }

    .doc-details {
        width: 315px;
    }

    .doc-list-item {
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .section2 {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .section2 h1 {
        font-size: 30px;
    }

    .section2-info {
        display: block;
        flex-direction: column;
    }

    .feedback {
        display: none;
    }

    .main-page-header h1 {
        font-size: 23px;
    }

    .feedback1 {
        display: block;
        width: 100%;
    }

    #Sofia {
        display: none;
    }

    .testimonial {

        width: 100%;
    }

    .main-page-content2 {
        width: 120%;
        padding: 5%;
        border-radius: 10%;
        margin-bottom: 1%;
    }
    .main-page-content2 p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23.38px;
    }

    .main-page-content3 {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #CF7D4E0D;
        margin: 20px;
        gap: 16px;
        border-radius: 10px;
    }

    .input-div {
        width: min-content;
        display: block;
    }

    .contact-us form {
        width: auto;
    }

    .contact-us h1 {
        font-size: 30px;
    }

    footer {
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        padding: 0;
    }

    .footer-1c {
        position: relative;
    }

    .Mfooter-2content {
        position: relative;
        width: 39%;
    }

    .Mfooter-2content list {
        font-size: 26px;
    }

    .Mfooter-3content p {
      width: auto;
    }

    .Mfooter-3content list {
        font-size: 17px;
    }

    #email {
        width: 175px;
        position: relative;
    }

    .footer-last {
        flex-direction: column;
        color: #0621264D;
        position: relative;
        justify-content: start;
        align-items: start;
    }

    .footer-last-doc {
        flex-direction: column;
        gap: 0px;
        position: relative;
        justify-content: center;
        align-items: start;
    }

    .contact-us input {
        width: 256px;
    }

    footer {
        margin: 16px;
    }

    .footer-last {
        margin: 16px;
    }

    .Mfooter-1content {
        width: 225px;
    }
}

@media (max-width: 450px) {
    .doc-nav-item {
        gap: 252px;
        justify-content: center;
    }
    .clinic {
        width: 245px;
        display: block;
        text-align: center;
    }
    #popup {
        width: 100%;
        height: 100vh;
        margin: 7px;    
    }
}

@media (max-width: 375px) {
    .doc-nav-item {
        gap: 200px;
        justify-content: center;
    }

    .doc-list-item {
        width: 240px;
    }

    .doc-details-info {
        width: 220px;
    }
    .swiper-slide img {
        width: 100%;
    }
    #popup {
        width: 100%;
        height: 100vh;
        margin: 7px;
    }
    
    
}

@media (max-width: 350px) {
    .doc-nav-item {
        gap: 147px;
        justify-content: center;
    }
    #popup {
        width: 100%;
        height: 100vh;
        margin: 7px;
    }
}
