@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    text-align: start;
}

.doc-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.doc-nav-item {
    display: flex;
    gap: 60px;
    align-items: center;
}

#doc-header-first {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.doc-header-sec a {
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #06212699;
    transition: 0.3s ease-in-out;
}

.doc-header-sec a:hover {
    color: #E5661E;
}
.nav-a {
    display: none;
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}


.doc-nav-btn {
    padding: 6px 10px 6px 10px;
    color: white;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 800;
}

.doc-img {
    width: 100%;
}

.section {
    padding: 0;
}

.feedback1 {
    display: none;
    background-color: #062126;
    color: white;
    padding: 1%;
    text-align: center;
}

.feedback-h1 {
    margin-bottom: -40px;
    font-size: 60px;
}

.feedback-p {
    margin-top: 10%;
    font-size: 25px;
    color: #12CCF4;
}

.feedback {
    text-align: center;
    background-color: #062126;
    padding: 10px;
    color: white;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.contact-us h1 {
    color: #062126;
    font-size: 40px;
    font-weight: 700;
}

#whyus {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.carousel-item {
    text-align: start;
    margin-bottom: 20px;
}

.carousel-item img {
    width: 380px;
    height: 200px;
    border-radius: 30px;
}

.carousel h1 {
    color: #062126;
    position: relative;
    text-align: left;
}

.carousel p {
    color: #062126B2;
    font-weight: 400;
    font-size: 15px;
    line-height: 23.38px;
    width: 416px;
    height: 80px;
}

.contact-us {
    background-color: #FFFFFF;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 638px;
}

.input-div {
    display: flex;
    gap: 20px;
    height: 3%;
}

.doc-p-input {
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.contact-us input {
    width: 300px;
    padding: 20px;
    border: 1px solid #0000000d;
    border-radius: 10px;
    margin: 10px;
    transition: border-color 0.3s ease;
}
.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    height: 49px;
    border-radius: 35px;
}

#description {
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
}

input textarea:focus {
    border: rgba(137, 243, 251, 0.178);
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5%;
}


.footer-1c {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
}

#footer-1c-img {
    width: 32px;
}

.footer-2c {
    display: flex;
}

.foot-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px;
    margin: 10px;
    background-color: #0621261A;
    border-radius: 50%;
}

.main-page-p {
    color: #062126B2;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}


.Mfooter-2content p,
a {
    color: #06212699;
    font-weight: 500;
    font-size: 16px;
}

.Mfooter-3content {
    width: 290px;
}

#email {
    background-color: #12CCF41A;
    padding: 15px;
    border-radius: 30px;
    margin: -10px;
    border: none;
}

#main-last-btn {
    color: white;
    background-color: #58e0ff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin-left: -22%;
    z-index: 1;
}

.box {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.doc-details-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 193px;
}

#doc-1 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgb(228, 246, 252);
}

.footer-last {
    color: #0621264D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;
}

.footer-last-doc {
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1200px) {
    .doc-nav-content {
        margin: 0 auto;
    }

    .carousel-item img {
        width: 420px;
        height: 190px;
        border-radius: 30px;
    }

    .feedback img {
        width: 100%;
    }

    .footer-last {
        gap: 20%;
    }
}

@media (max-width: 1000px) {
    .doc-nav-item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .doc-header-sec a {
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
    }

    .carousel {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .footer-last {
        gap: 10%;
    }
}


@media (max-width: 750px) {
    .doc-nav-item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .doc-header-sec a {
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
    }

    .carousel {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .footer-last {
        gap: 10%;
    }
}


@media (max-width: 500px) {

    /* Nav Bar */
    .doc-nav-content {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .doc-nav-btn {
        display: none;
    }

    .nav-a {
        display: block;
    }

    #doc-header-first {
        gap: 0;
    }

    #doc-header-first img {
        width: 35px;
    }

    .doc-header-sec a {
        display: none;
    }

    .doc-list-item {
        display: block;
    }

    .doc-img {
        height: 100px;
    }

    .doc-list {
        text-align: center;
    }

    .doc-info {
        max-width: 90%;
        margin: auto;
    }



    /* Service */
    .carousel {
        padding: 0px 25px;
    }

    .carousel-item img {
        width: 100%;
    }

    .main {
        padding: 0;
        text-align: center;
    }


    .carousel p {
        width: auto;
        line-height: 18.08px;
    }


    /* Why us */

    #whyus {
        font-size: 25px;
        font-weight: 900;
    }

    .box {
        flex-direction: column;
    }

    /* Feedback */
    .feedback1 {
        display: block;
        width: 100%;
    }
    .feedback{
        display: none;
    }
    /* Form */
    .input-div{
        display: block;
    }
    .contact-us form{
        width: auto;
    }
    .contact-us input{
        width: 256px;
    }

    /* Footer */
    footer {
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        padding: 0;
        text-align: start;
        padding: 15px;
    }

    .footer-1c {
        position: relative;
    }

    .Mfooter-2content {
        position: relative;
    }

    .Mfooter-2content list {
        font-size: 26px;
    }

    .Mfooter-3content {
        width: 80%;
    }

    .Mfooter-3content list {
        font-size: 17px;
    }

    #email {
        position: relative;
    }

    .footer-last {
        flex-direction: column;
        color: #0621264D;
        position: relative;
        justify-content: start;
        align-items: start;
    }

    .footer-last-doc {
        flex-direction: column;
        gap: 0px;
        position: relative;
        justify-content: center;
        align-items: start;
    }

    .footer-last {
        margin: 16px;
    }

    .Mfooter-1content {
        width: 225px;
    }

    .main-last {
        display: block;
    }

    .last-doc {
        display: block;
    }

}

@media (max-width: 350px) {
    .carousel-item img {
        width: 313px;
    }

    .carousel p {
        width: auto;
        line-height: 18.08px;
    }
    .contact-us h1{
        font-size: 30px;
    }

}
