@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.main {
    text-align: start;
}

.doc-nav-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.doc-nav-item {
    display: flex;
    gap: 60px;
    align-items: center;
}

#doc-header-first {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.doc-header-sec a {
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #06212699;
    transition: 0.3s ease-in-out;
}

.doc-header-sec a:hover, 
.doc-header-sec a.active {
    color: #E5661E;
}


/*Pop Up CSS */
#popup {
    display: none;
    height: 100vh;
    width: 456px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 10px;
    z-index: 1;
}

#header-first {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu2{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-a2{
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 6px;
    margin: 8px;
    border-radius: 50%;
}
nav{
    width: 70%;
    margin: auto;
}


.menu a {
    text-decoration: none;
    display: flex;
    line-height: 40px;
}

.nav-a {
    display: none;
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 6px;
    margin: 8px;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}


.doc-nav-btn {
    padding: 10px;
    color: white;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 800;
}



.doc-img {
    width: 100%;
}

.section {
    padding: 0;
}

.feedback1 {
    display: none;
    background-color: #062126;
    color: white;
    padding: 1%;
    text-align: center;
}

.feedback-h1 {
    margin-bottom: -40px;
    font-size: 60px;
}

.feedback-p {
    margin-top: 10%;
    font-size: 25px;
    color: #12CCF4;
}

.feedback {
    text-align: center;
    background-color: #062126;
    padding: 10px;
    color: white;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.contact-us h1 {
    color: #062126;
    font-size: 40px;
    font-weight: 700;
}

#whyus {
    text-align: start;
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.carousel-item {
    text-align: start;
    margin-bottom: 20px;
    width: 470px;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: relative;
    transform: translateX(10%); 
}

.carousel-item.show{
    opacity: 1;
    transform: translateX(0);
}

.carousel-item img {
    width: 470px;
    height: 250px;
    border-radius: 30px;
}

.carousel-item h1 {
    font-size: 24px;
    line-height: 27px;
    font-weight: 500;
    color: #062126;
    position: relative;
    text-align: left;
}

.section {
    /* width: 416px; */
    /* background-color: #ff0000; */
    border-radius: 30px;
    margin: auto;

}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.carousel-item p {
    color: #062126B2;
    font-weight: 400;
    font-size: 15px;
    line-height: 24.38px;
    /* width: 416px; */
    /* height: 80px; */
}

.service-time-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px;
    padding-left: 20px;
    font-size: 40px;
    background-color: #24BEE0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.service-time-header p {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 5px;
}

.serivce-table {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #12CCF40D;
    margin-top: -16px;
    padding: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.service-time p {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 165px;
    color: #062126CC;
    font-size: 15px;
    line-height: 17px;
    font-weight: 600;
}

.service-time-p {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: start;

}

.service-time-p p {
    color: #06212699;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
}

.contact-us {
    background-color: #FFFFFF;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 638px; */
}

.input-div {
    display: flex;
    /* gap: 20px; */
    /* height: 3%; */
}

/* .date-time{
    align-items: center;
}
#time{
    position: relative;
    left: -5%;
}
#date{
    position: relative;
    left: -3%;
}*/

.doc-p-input {
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-us input {
    width: 300px;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid #0000000d;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #F7F7F7;
}

.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    height: 49px;
    border-radius: 35px;
}

#description {
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
    background-color: #F7F7F7;
}

input textarea:focus {
    border: rgba(137, 243, 251, 0.178);
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 5%;
}


.footer-1c {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
}

#footer-1c-img {
    width: 32px;
}

.footer-2c {
    display: flex;
}

.foot-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px;
    margin: 10px;
    background-color: #0621261A;
    border-radius: 50%;
}

.main-page-p {
    color: #062126B2;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}


.Mfooter-2content p,
a {
    color: #06212699;
    font-weight: 500;
    font-size: 16px;
}

.Mfooter-3content p {
    width: 170px;
    color: #06212699;
}

#email {
    width: 250px;
    background-color: #12CCF41A;
    padding: 15px;
    border-radius: 30px;
    margin: -10px;
    border: none;
    outline: none;
}

#main-last-btn {
    color: white;
    background-color: #58e0ff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin-left: -22%;
    z-index: 1;
}


.box {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    position: relative;
    transform: translateY(10%); 
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}

.box p {
    color: #062126B2;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.38px;
}

.doc-details {
    width: 950px;
    margin: 0 auto;
}

.doc-details-info {
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.shield-border {
    align-self: start;
    background-color: #24BEE01A;
    padding: 20px;
    border-radius: 160px;
}

#doc-1 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgb(228, 246, 252);
}

.footer-last {
    color: #0621264D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;
}

.footer-last-doc {
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1200px) {
    .doc-nav-content {
        margin: 0 auto;
    }

    .carousel-item img {
        width: 420px;
        height: 190px;
        border-radius: 30px;
    }

    .feedback img {
        width: 100%;
    }

    .footer-last {
        gap: 20%;
    }
}

@media (max-width: 1000px) {
    nav{
        width: 100%;
    }
    .doc-nav-item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .doc-header-sec a {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
    }

    .carousel {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .footer-last {
        gap: 10%;
    }
    .doc-nav-content{
        justify-content: space-between;
    }
}


@media (max-width: 800px) {
    .doc-nav-item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .doc-header-sec a {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
    }

    .carousel {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    .footer-last {
        gap: 10%;
    }

    .doc-details {
        width: 743px;
    }
    #popup {
        width: 100%;
        height: 100vh;
        margin: 7px;    
    }

    #email {
        width: 178px;
    }

    .carousel-item {
        margin-bottom: 30px;
        width: 415px;
    }

    .doc-details-info {
        padding: 0;
    }

}


@media (max-width: 500px) {

    /* Nav Bar */
    .doc-nav-content {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }

    .doc-nav-btn {
        display: none;
    }

    .nav-a {
        display: block;
    }

    #doc-header-first {
        gap: 0;
    }

    #doc-header-first img {
        width: 35px;
    }

    .doc-header-sec a {
        display: none;
    }

    .doc-list-item {
        display: block;
    }

    .doc-img {
        height: 100px;
        padding-bottom: 50px;
    }

    .doc-list {
        text-align: center;
    }

    .doc-info {
        max-width: 90%;
        margin: auto;
    }

    .contact-us h1 {
        font-size: 35px;
    }


    /* Service */
    .carousel {
        padding: 0px 25px;
    }

    .carousel-item img {
        width: 100%;
    }

    .carousel-item {
        width: 360px;
    }

    .main {
        padding: 0;
        text-align: center;
    }


    /* .carousel p {
        line-height: 18.08px;
    } */


    /* Why us */

    #whyus {
        font-size: 25px;
        font-weight: 900;
    }

    .box {
        flex-direction: column;
    }

    .doc-details {
        width: 390px;
    }

    .doc-details-info {
        width: 260px;
    }

    .service-time-p p {
        font-size: 11px;
        font-weight: 900;
        line-height: 10px;
    }

    /* Feedback */
    .feedback1 {
        display: block;
    }

    .feedback {
        display: none;
    }

    /* Form */
    .input-div {
        width: min-content;
        display: block;
    }

    .contact-us form {
        width: auto;
    }

    .contact-us input {
        width: 256px;
    }

    /* Footer */
    footer {
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        padding: 0;
        text-align: start;
    }

    .footer-1c {
        position: relative;
    }

    .Mfooter-1content {
        margin-left: 10px;
    }

    .Mfooter-2content {
        position: relative;
        margin-left: 10px;
    }

    .Mfooter-2content list {
        font-size: 26px;

    }

    .Mfooter-3content {
        margin-left: 10px;
    }

    .Mfooter-3content list {
        font-size: 17px;
    }

    .footer-last {
        flex-direction: column;
        color: #0621264D;
        position: relative;
        justify-content: start;
        align-items: start;
        margin-left: 10px;
    }

    .Mfooter-3content p {
        width: auto;
    }

    .footer-last-doc {
        flex-direction: column;
        gap: 0px;
        position: relative;
        justify-content: center;
        align-items: start;
    }

    .Mfooter-1content {
        width: 225px;
    }

    .main-last {
        display: block;
    }

    .last-doc {
        display: block;
    }

}

@media (max-width: 350px) {

    /* .carousel-item img {
        width: 313px;
    }

    .carousel p {
        width: auto;
        line-height: 18.08px;
    }

    .contact-us h1 {
        font-size: 30px;
    } */
    .carousel-item {
        width: 300px;
    }

    .service-time p {
        width: 139px;
        font-size: 12px;
    }

    .doc-details {
        width: 315px;
    }

    #email {
        width: 226px;
    }

    .contact-us h1 {
        font-size: 30px;
    }

}
