@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.moon {
    display: none;
}

.doc-nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.doc-nav-item {
    display: flex;
    align-items: center;
}

.index-left {
    width: 481px;
}

.index-p1 {
    width: 100%;
}

#doc-header-first {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.main-page--photo2 {
    display: none;
}

#doc-header-first img {
    width: 17%;
}

.doc-header-sec a {
    padding: 7px;
    font-size: 16px;
    text-decoration: none;
    color: #06212699;
    transition: 0.3s ease-in-out;
}

.doc-header-sec a:hover {
    color: #E5661E;
}

.doc-nav-btn {
    padding: 0;
    margin: 0;
}

.main-page--photo1 {
    display: none;
}

.nav-a {
    display: none;
    text-decoration: none;
    border: 2px solid lightblue;
    padding: 6px;
    margin: 8px;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc-nav-btn {
    color: white;
    padding: 20px;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 800;
}

.main-page-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-item div {
    position: relative;
    top: 0%;
}

.index {
    margin: 0 auto;
    display: flex;
    gap: 7%;
    justify-content: center;
    align-items: center;
}

.index-left h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 83.52px;
    width: 99%;
}

.index-left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32.62px;
    color: #062126B2;
    width: 65%;
}

.index-right img {
    width: 90%;
}

.clinic1 {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-page-item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
}

.clinic {
    text-align: center;
    background-color: #F4F5F4;
    border-radius: 30px;
}

.main-page-h3 {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.main-btn1 {
    font-size: larger;
    font-weight: bolder;
    color: white;
    padding: 16px 32px 16px 32px;
    border: none;
    background-color: #24BEE0;
    border-radius: 100px;
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#right-arrow {
    width: 5px;
    height: 5px;
}

.main-page-timing p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #CF7D4E;
    width: 100%;
}

.main-page-content3 {
    display: none;
}

.main-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page-header div h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
}

.main-p-head-btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 1000;
    color: #24BEE0;
    cursor: pointer;
}

.naya {
    max-width: 80%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    padding: 20px 0;
}

.main-page-dusradoc img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.main-page-header h1 {
    margin-right: auto;
}

.service-swiper-container {
    position: relative;
    top: 0%;
    left: 0%;
}

.box {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.doc-details-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 193px;
}

#doc-1 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgb(228, 246, 252);
}

#whyus {
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.Section-2 h1 {
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-btn2 {
    font-size: larger;
    font-weight: bolder;
    color: #CF7D4E;
    height: 43px;
    width: 206px;
    border: 2px solid #CF7D4E;
    background-color: transparent;
    border-radius: 100px;
    cursor: pointer;
}

.section2-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 14px;
}

.doc-list-item {
    padding: 23px;
    border-radius: 25px;
    background-color: rgba(255, 243, 243, 0.511);
}

.feedback {
    background-color: #062126;
    padding: 10px;
    color: white;
    text-align: center;
}

.feedback1 {
    display: none;
    background-color: #062126;
    color: white;
    padding: 1%;
    text-align: center;
}

.feedback-h1 {
    margin-bottom: -40px;
    font-size: 60px;
}

.feedback-p {
    margin-top: 10%;
    font-size: 25px;
    color: #12CCF4;
}

#swiper-btn {
    display: flex;
}

.main-p-head-btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 1000;
    color: #24BEE0;
    cursor: pointer;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.main-page-content2 {
    display: flex;
    align-items: center;
    background-color: #CF7D4E0D;
    gap: 16px;
    border-radius: 10px;
}

.main-page-content2 div {
    width: 300px;
}

.contact-us h1 {
    color: #062126;
    font-size: 40px;
    font-weight: 700;
}

#whyus {
    font-size: 40px;
    font-weight: 700;
    color: #062126;
}

.contact-us {
    background-color: #FFFFFF;
    margin: 80px auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-us form {
    min-width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 638px;
}

.input-div {
    display: flex;
    gap: 20px;
    height: 3%;
}

.doc-p-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.contact-us input {
    padding: 20px;
    border: 1px solid #0000000d;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    transition: border-color 0.3s ease;
}
.doc-p-btn {
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: #24BEE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    height: 49px;
    border-radius: 35px;
}

#description {
    padding: 20px;
    border: 1px solid #0000000D;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    transition: 0.3s ease;
}

input textarea:focus {
    border: rgba(137, 243, 251, 0.178);
}

footer {
    display: flex;
    justify-content: space-evenly;
}

.footer-1c {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#footer-1c-img {
    width: 32px;
}

.footer-2c {
    display: flex;
    justify-content: space-evenly;
}

.foot-fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    padding: 10px;
    margin: 10px;
    background-color: #0621261A;
    border-radius: 50%;
}

.main-page-p {
    color: #062126B2;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
}

.Mfooter-2content p,
a {
    color: #06212699;
    font-weight: 500;
    font-size: 16px;
}

.Mfooter-1content {
    width: 215px;
}

#email {
    background-color: #12CCF41A;
    padding: 15px;
    border-radius: 30px;
    margin: -10px;
    border: none;
}

#main-last-btn {
    color: white;
    background-color: #58e0ff;
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin-left: -22%;
    z-index: 1;
}

.box {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.doc-details-info {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 252px;
    height: 193px;
}

#doc-1 {
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgb(228, 246, 252);
}

.footer-last {
    color: #0621264D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-last-doc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

 
